.board {
  background-color: rgba(1, 53, 1, 0.824);
  justify-content: center;
  font-family: "Fontdiner Swanky", cursive;
}

/* .players { */
  /* transform: rotate(90deg); */
  /* margin: 0px; */
  /* padding-top: 0px; */
  /* display: flex; */
/* } */


.card {
  align-items: center;
  justify-self: center;
  width: 79px;
  height: 120px;
  border-radius: 10px;
  color: white;
  background-color: black;
  margin: 2px;
  box-shadow: 7px 10px 12px -5px rgba(8, 8, 8, 0.66);
  margin-left: 15px;
}

.hidden {
  opacity: 0%;
}

h1 {
  text-align: center;
}

.firstMove {
  text-align: center;
  margin: 0px;
  padding-top: 12px;
  padding-bottom: 0px;
  color: white;
  font-size: 1.2em;
}

.player {
  margin: 0px;
  color: white;
  /* size: 100%; */
}

.players{
  display: grid;
  grid-template-columns: 50% 50%;
}