.board {
  background-color: rgba(1, 53, 1, 0.824);
  justify-content: center;
  font-family: "Fontdiner Swanky", cursive;
}

.card {
  cursor: pointer;
  align-items: center;
  justify-self: center;
  width: 79px;
  height: 120px;
  border-radius: 10px;
  color: white;
  background: radial-gradient(
    circle,
    rgba(223, 111, 249, 1) 18%,
    rgba(135, 94, 236, 1) 100%
  );
  margin: 1px;
  box-shadow: 7px 10px 12px -5px rgba(8, 8, 8, 0.66);
  margin-left: 15px;
  transition: all 0.2s ease-out;
}

.card:hover {
  transform: scale(1.12);
  opacity: 0.98;
}
.hidden {
  opacity: 0%;
}
.hidden:hover {
  opacity: 0%;
}

h1 {
  text-align: center;
}

.firstMove {
  text-align: center;
  margin: 0px;
  padding-top: 12px;
  padding-bottom: 0px;
  color: white;
  font-size: 1.2em;
}

.player {
  margin: 0px;
  color: white;
  /* size: 100%; */
}

.players {
  display: grid;
  grid-template-columns: 50% 50%;
}
