.main {
  height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2016/04/21/16/38/stormtrooper-1343877_1280.jpg");
  color: black;
  font-family: "Fontdiner Swanky", cursive;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.3em;
}

.sectionHome {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.372);
}

.formHome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 70%;
  padding-top: 300px;
  background-color: rgba(255, 255, 255, 0.303);
}

.button {
  font-family: "Fontdiner Swanky", cursive;
}
