.Nav {
  display: flex;
  justify-content: space-between;
  font-family: "Fontdiner Swanky", cursive;
}

.navImg {
  height: 40px;
}

.navSection {
  display: flex;
  justify-content: flex-end;
}

.link {
  color: black;
  font-size: 1.3em;
  text-decoration: none;
}

/* .navButton {
  font-family: "Fontdiner Swanky", cursive;
  border-radius: 15px;
  margin-left: 5px;
  font-size: 1.02em;
  background-color: rgba(1, 77, 77, 0.393);
} */

.navLink {
  text-decoration: none;
  color: white;
}
