.Nav {
  display: flex;
  justify-content: space-around;
  font-family: "Fontdiner Swanky", cursive;
  background-color: black;
  padding-top: 10px;
}

.navImg {
  height: 40px;
}

.navSection {
  width: 100%;
  text-align: left;
  /* display: flex; */
  /* justify-content: flex-start; */
}

a {
  color: black;
  font-size: 1.3em;
  text-decoration: none;
}

/* .navButton {
  font-family: "Fontdiner Swanky", cursive;
  border-radius: 15px;
  margin-left: 5px;
  font-size: 1.02em;
  background-color: rgba(1, 77, 77, 0.393);
} */

.link {
  text-decoration: none;
  color: white;
}
